<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="mainContent">
            {{>header}}
            <img class="aboutMeImage" src="/img/barry.png" alt="Coronavirus meme">
        </div>
        {{>footer}}
    </body>

</html>