<!DOCTYPE html>

<html>

    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="mainContent">
            {{>header}}
            <p>Use this site to get the latest weather forecast</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <div class="container">
                <p id="location"></p>
                <p id="summary"></p>
                <p id="temp-high"></p>
                <p id="temp-low"></p>
                <p id="rain"></p>
            </div>
        </div>
        {{>footer}}
        <script src="/js/app.js" charset="UTF-8"></script>
    </body>

</html>